pipeline/For_Each_Activity_Lookup.json
{
	"name": "For_Each_Activity_Lookup",
	"properties": {
		"activities": [
			{
				"name": "ForEach_Every_JSON",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Filename",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('file_name')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Blob_to_Blob",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "JSON_Blob_hanifstorageaccount",
									"type": "DatasetReference",
									"parameters": {
										"container": "training",
										"folder": "data",
										"file": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "JSON_Blob_hanifajaristorageaccount",
									"type": "DatasetReference",
									"parameters": {
										"container": "adf",
										"folder": "data",
										"file": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup_Filename",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": []
			}
		],
		"variables": {
			"file_name": {
				"type": "Array",
				"defaultValue": [
					"documents.json",
					"example.json"
				]
			}
		},
		"folder": {
			"name": "Practice Case Day 2"
		},
		"annotations": []
	}
}