pipeline/For_Each_Activity_Lookup.json
{
	"name": "For_Each_Activity_Lookup",
	"properties": {
		"activities": [
			{
				"name": "ForEach_Every_JSON",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Filename",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Filename').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Blob_to_Blob",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "JSON_Blob_hanifstorageaccount",
									"type": "DatasetReference",
									"parameters": {
										"container": "training",
										"folder": "data",
										"file": {
											"value": "@item().file_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "JSON_Blob_hanifajaristorageaccount",
									"type": "DatasetReference",
									"parameters": {
										"container": "adf",
										"folder": "data",
										"file": {
											"value": "@item().file_name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup_Filename",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_hanifajari",
						"type": "DatasetReference",
						"parameters": {
							"schema": "dbo",
							"table": "list_json_file"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"folder": {
			"name": "Practice Case Day 2"
		},
		"annotations": []
	}
}